.jmix

.gradle
/build/tmp
/build/themes
/build/classes
/build/reports
/build/generated
/build/resources
/build/test-results
/build/bootJarMainClassName
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea/*
!.idea/encodings.xml
*.iws
*.iml
*.ipr
out/

### VS Code ###
.vscode/
